.container, .menu {
  position: relative;
  z-index: 1;
}
.menu {
  margin: 10% auto;
  display: block;
}
.menu button {
  border: none;
  margin: 1%;
  padding: 2%;
}
.overlay {
  position: fixed;
  z-index: 2;
  width: 88vw;
  height: 85vh;
  margin: 1vw auto;
  padding: 5%;
  border-radius: 1vw;
  /* background-color: Ivory; */
  background-color: Ivory;
  display: none;
}
.modal h1 { //close
  position: relative;
  width: 45%;
  margin-left: 0%;
  display: inline-block;
  text-align: right;
}
.modal h3 { //title
  position: relative;
  width: 50%;
  margin-right: 0%;
  display: inline-block;
  text-align: left;
}
.modal iframe {
  width: 88vw;
  height: 55vh;
}
.modal p {

}
a-scene {
  position: absolute;
  z-index: 0;
}
