
/* Scenes content */
.splashscreen {
  border: 2px whiteSmoke;
}
.scene {
  border: 2px black;
}
.media {
  border: 2px ForestGreen;
}


/* Layout */
.body{
  margin: 0px;
  padding: 0px;
}
.cont {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}
.grid {
  width: inherit - 6%;
  height: inherit;
  display: flex;
  flex-direction: column;
  margin: 3%;
}
.gridItem {
  width: inherit;
  display: inline-flex;
  flex-direction: row;
  flex-grow: 1;
}
.head {
  height: 20vh;
  border: 2px solid Salmon;
}
.htitle, .hbutton {
  justify-content: space-around;
  font-size: 8rem;
}
.htitle {
  flex-grow: 3;
}
.hbutton {
  flex-grow: 1;
}

.body {
  height: 50vh;
  border:  2px solid skyBlue;
}
.foot {
  height: 30vh;
  border: 2px solid Salmon;
}
.description {


}

/*Typography*/
body {
  font-family: Nunito, sans-serif;
}
.htitle {
  font-size: 8rem;
  font-weight: bold;
}
.description {
  font-weight: normal;
  font-size: 3.0rem;
  line-height: 1.5rem;
}
/* Omnipresent banner */
.madeBy {
  font-family: Nunito, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  position: fixed;
  bottom: 1vh;
  right: 1vw;
  text-align: right;
  line-height: 2.25rem;
  color: rosyBrown;
  opacity: 0.85;
}
.madeBy span {
  color: Crimson;
  font-size: 2.2rem;
}
